@model List<Survey.Entities.Ticket>

<h4 class="mb-3">Danh sách kết quả</h4>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Tên</th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-primary" href="/vote/details/@item.Id"><i class="fas fa-folder"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </tbody>
</table>