@model Survey.Entities.Ticket

<a href="/quiz/create/@ViewBag.Id" class="btn btn-primary"><i class="fas fa-plus"></i> Thêm câu hỏi</a>
<div class="mt-4">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Câu hỏi</th>
                <th>Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>