@model Survey.Entities.Ticket
@using Survey.Enums

@{
    ViewData["Title"] = "Tạo khảo sát";
}

<form asp-action="edit" method="POST">
    <input type="hidden" asp-for="Id" />
    <label>Tên</label>
    <input type="text" class="form-control mb-3" asp-for="Name" required/>
    <select class="form-control mb-3" asp-for="DeparmentId" required>
        
        @foreach (var item in ViewBag.Department)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <button class="btn btn-primary" type="submit">Lưu lại</button>
    <a href="/ticket" class="btn btn-secondary">Hủy bỏ</a>
</form>
