@model IEnumerable<Survey.Entities.Ticket>
@using Survey.Enums
@{
    ViewData["Title"] = "Giảng viên";
}

<a href="/ticket/create" class="btn btn-primary"><i class="fas fa-plus"></i> Tạo mới</a>
<a href="/department" class="btn btn-primary"><i class="fas fa-plus"></i> Học phần</a>
<a href="/quiz" class="btn btn-primary"><i class="fas fa-plus"></i> Câu hỏi</a>
<a href="/user" class="btn btn-primary"><i class="fas fa-plus"></i> Học viên</a>
<table class="table table-bordered mt-3">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Tên</th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a href="/ticket/details/@item.Id" class="btn btn-primary btn-sm"><i class="fas fa-folder"></i></a>
                    <a class="btn btn-info btn-sm" href="/ticket/edit/@item.Id"><i class="fas fa-pen"></i></a>
                    <a class="btn btn-danger btn-sm" href="/ticket/delete/@item.Id"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
