@{
    ViewData["Title"] = "Tạo người dùng";
}

<form action="/user/create" method="POST">
    <label>Id</label>
    <input type="text" class="form-control mb-3" name="Id" required/>
    <label>Họ và tên</label>
    <input type="text" class="form-control mb-3" name="Name" required/>
    <label>Đơn vị</label>
    <input type="text" class="form-control mb-3" name="Department" required/>
    <button class="btn btn-primary" type="submit">Tạo</button>
</form>