@model IEnumerable<Survey.Entities.User>

<a href="/user/create" class="btn btn-primary" @ViewBag.Disabled>Tạo người dùng</a>

<table class="table table-bordered mt-3">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Tên</th>
            <th>Email</th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Department</td>
                <td>
                    <a class="btn btn-info btn-sm" href="/user/edit/@item.Id"><i class="fas fa-pen"></i></a>
                    <a class="btn btn-danger btn-sm" href="/user/delete/@item.Id"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
