@model Survey.Models.UserSession
@{
    ViewData["Title"] = "Quản trị";
}

@if (Model != null) {
<h4 class="font-weight-bold text-center">
    Xin chào, <span class="text-danger">@Model.Name</span>
</h4>
} else {
<h3 class="font-weight-bold h4 text-center">Đăng nhập hệ thống</h3>
<form action="/user/login" method="post">
    <label>Tài khoản</label>
    <input type="text" class="form-control mb-3" required name="id"/>
    <label>Mật khẩu</label>
    <input type="password" class="form-control mb-3" required name="password"/>
    <button class="btn btn-primary" type="submit">Đăng nhập</button>
    <a class="btn btn-secondary"href="/">Hủy</a>
</form>
}